/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation{
    border: 1px solid black;
    width: 100%;
    background-color: #0F5959;
    height: 60px;
    text-align: center;

}

.navigationBtn{
    display: inline-block;
    text-decoration: none;
    transition: background-color 1s;
    width: 19%;
    color: white;
    height: 60px;
    

}
.navigationBtn:hover{
    background-color: #0A3A40;
}
