/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D7373;
}
#navigation{
    border: 1px solid black;
    width: 100%;
    background-color: #0A3A40;
    height: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.navigationBtn{
    position: static;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s;
    width: 19%;
    color: white;
    height: 60px;
    padding: 15px;
    

}
.navigationBtn:hover{
    background-color: #042326;
}
