/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-size: cover;
background-color: #0F5959;
background-image: url("../images/Space-Needle.jpeg.webp");
}

#navigation{
    border: 1px solid black;
    font-family: Trebuchet MS;
    width: 100%;
   background-color: #0A3A40;
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigationBtn{
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s;
    width: 20%;
    color: white;
    height: 60px;
    padding: 15px;
    

}
.navigationBtn:hover{
    background-color: #042326;
}

.background-text{
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 4.5rem;
    position: relative;
    padding: 50px;
    color: white;
    font-weight: bold;
}

#intro{
    margin-top: -10rem;
    font-family: Trebuchet MS;
    text-align: center;
    position: relative;
    padding: 100px;
    color: white;
    font-weight: bold;

}
#blog-posts{
    display: grid;
    border: 1px solid black;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}


